<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('增加快递单号')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <h3 style="text-align: center">已入库包裹和库存商品不能修改</h3>
    <br>
    <br>
    <form class="form-horizontal m" id="form-userpackage-edit">
        <div class="form-group" th:each="userPackage: ${userPackages}">
            <input type="hidden" class="idClass" style="text-align: center" name="id" th:value="${userPackage.id}">
            <label class="col-sm-2 control-label" style="text-align: center" th:text="名称-+${userPackage.goodsName}"></label>
            <label class="col-sm-1 control-label" style="text-align: center"
                   th:text="规格-+${userPackage.variationName==null?'':userPackage.variationName}"></label>
            <label class="col-sm-2 control-label" style="text-align: center" th:text="SKU-+${userPackage.itemSku == null? '':userPackage.itemSku}"></label>
            <label class="col-sm-1 control-label" style="text-align: center" th:text="数量-+${userPackage.goodsCount}"></label>
            <label class="col-sm-2 control-label" style="text-align: center"><img class="img-xs" th:src="${userPackage.goodsImage}"></label>
            <label class="col-sm-1 control-label" style="text-align: center">快递单号：</label>
            <div class="col-sm-2">
                <input name="packageNo" id="packageNo" th:value="${userPackage.packageNo}"
                       class="form-control packageNo"
                       type="text" th:status="${userPackage.status}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remark" class="form-control" id="remark" type="text" th:value="${remark}">
            </div>
        </div>
        <input type="hidden" name="shopeeOrderNo" th:value="${shopeeOrderNo}">
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "system/userpackage";
    $(function () {
        $('.packageNo').each(function () {
            if ($(this).attr('status') == 20) {
                $(this).attr('readonly', 'readonly');
            }
            if ($(this).val() == '库存商品') {
                $(this).removeAttr('name');
                $(this).attr('readonly', 'readonly');
            }
        });
        $('.idClass').each(function () {
            if ($(this).val() == '') {
                $(this).removeAttr('name');
            }
        });
    });

    function submitHandler() {
        var flag = true;
        if ($('.packageNo').length == 1 && $('.packageNo').val() == '') {
            $.modal.msgError("请填写运单号");
            flag = false;
        }
        $(".packageNo").each(function () {
            if ($(this).val().length > 32) {
                $.modal.msgError("运单号最大长度为32！");
                flag = false;
                return false;
            }
        });
        if ($('#remark').val().length > 256) {
            $.modal.msgError("备注最大长度为256！");
            flag = false;
        }
        if (flag) {
            $.operate.save(prefix + "/edit", $('#form-userpackage-edit').serialize());
        }
    }
</script>
</body>
</html>